<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>

<style>
body {
    font-family: Arial;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    text-align: center;
    color: white;
    margin-top: 100px;
}

.btn {
    padding: 12px 20px;
    margin: 10px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
</style>

</head>

<body>

<h1>Welcome to Resell Hub 👋</h1>

<a href="/login" class="btn">Login</a>
<a href="/register" class="btn">Register</a>

</body>
</html>